.invitePage {
    &_invite {
        display: flex;
        justify-content: center;
    }

    &_field {
        flex-grow: 1;
        border: 1px solid $primary;
        position: relative;
        display: flex;
        align-items: center;
        max-width: 238px;

        @include tablet {
            max-width: 288px;
        }

        input {
            border: 0;
            background-color: transparent;
            outline: 0;
        }

        &-btn {
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            padding: 3px 8px !important;
            transition: all ease 0.2s;
        }
    }
}
